// --------------
// AWARDS HOME
// Specific styles for awards
// --------------

// Images -------------- //
// Image max-width should be 100%

img {
  max-width: 100%;
}

// Typography -------------- //

h1 {
  font-family: $font-serif;
  font-weight: 700; 
  letter-spacing: -0.03em;
}

// Special serif for headlines
.words-serif {
  // Sentinel
  font-family: $font-serif;
  font-weight: 700; 
  letter-spacing: -0.03em;
}

.words-title {
  font-size: $title-font-size;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  @include media($tablet-up) {
    font-size: $title-font-size * 1.7;
    line-height: 1.1em;
  }
}

.words-quiet {
  color: $color-grey-700;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}

p.words-quiet + p.words-quiet {
  margin-top: 0;
}

.note {
  margin: {
    top: 0.5em;
    bottom: 0.5em;
  }
  font-size: 0.8em;
  &, & a { color: $color-grey-700; }
}

// Hero -------------- //
// Header at the top of the page

.section-hero {
  // hide video on small
  video { display: none; }

  @include media($tablet-up) {
    position: relative;
    overflow: hidden;

    background-size: cover;
    background-position: center center;  
    padding: {
      top: 3em;
      bottom: 5em;
    }
    min-height: 95vh;
    
    // make the text white and larger
    &, & a { 
      color: white;
      font-weight: 700;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
    & a.button { text-shadow: none; }

    // button!
    .button {
      background-color: $color-yellow;
      color: black;
      border: 2px solid $color-yellow;
      &:hover {
        background-color: white;
        border-color: white;
        color: black;
      }
    }

    // button white
    .button-white {
      background-color: transparent;
      color: white;
      border: 2px solid white;
    }

    // video
    video {
      display: block;
      background-image: url('/images/video-bg.jpg');
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
  }
}

.section-hero .header {
  @include media($tablet-up) {
    padding: {
      top: 0;
      bottom: 1em;
    }
  }
}

// Step -------------- //
// Module for the steps

.step {
  border: 1px solid $color-grey-300;
  margin-top: 1em;
}

.step-header {
  background-color: $color-blue;
  min-height: 10em;
  position: relative;
  img {
    $icon-width: 100px;
    width: $icon-width;
    height: $icon-width;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    position: absolute;
    margin-top: ($icon-width / 2) * -1;
    margin-left: ($icon-width / 2) * -1;
    left: 50%;
    top: 50%;
  }
}

.step-1 .step-header { background-color: $color-medium-blue; }
.step-2 .step-header { background-color: $color-purple; }
.step-3 .step-header { background-color: $color-teal; }

.step-copy {
  padding: 0.5em 1em;
}

// Section Apply -------------- //
// A module on the page encouraging you to apply
.section-apply {
  background-color: $color-purple;
  color: white;
  a { color: white; }
  h1 { margin-top: 0.5em; }
  .grid-box + .grid-box { margin-top: 1em; }

  li + li {
    margin-top: 1em;
  }

  .button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      border-color: white;
      color: black;
    }
  }

  @include media($tablet-up) {
    margin: {
      left: 0.5em;
      right: 0.5em;
    }
  }
}


// Judge -------------- //
// Module for judges

.judge-box {
 @include media($tablet-up) {
  margin-top: 1em;
 }
 img {
  width: 100%;
  height: auto;
 }
}

.judge-box p {
  font-size: 0.8em;
}

