---
layout: default
---
<!-- Section: Intro -->
<section class="section-slab section-hero">  
  <video autoplay loop poster="{{ site.baseurl }}/images/video-bg.jpg" id="bgvid">
    <!-- <source src="polina.webm" type="video/webm"> -->
    <source src="{{ site.baseurl }}/images/city_blurry.mp4" type="video/mp4">
  </video>

  {% include header.html reverse="true" %}
  <div class="grid-box">
    <div class="width-whole">
      <h1 class="words-serif words-title">Recognizing 21st century government technology</h1>
    </div>
    <div class="grid-item width-two-thirds">
        <p>
          The Code for America Technology Awards recognize outstanding products and implementations of government technology. Winners will be recognized on stage at the <a href="https://www.codeforamerica.org/summit/">Code for America Summit</a>, September 30 - October 2 in Oakland, CA. 
        </p>
        <p><strong>Applications are open from June 23 through July 13, 2015.</strong></p>
        <div class="button-group">
          <a href="https://codeforamerica.slideroom.com/#/permalink/program/25604/jRmWKgzhzX" target="_blank" class="button">Apply now</a>
          <a href="{{ site.baseurl }}/signup" class="button button-white">Sign up for updates</a>
        </div>
    </div>
  </div>
</section>

<!-- Section: How it Works -->
<section class="section-slab" id="about">
  <div class="grid-box">
    <div class="grid-item width-whole">
      <h1>How it works</h1>
    </div>

    <div class="[ grid-item width-one-third ] [ step step-1 ]">
      <div class="step-header">
        <img src="{{ site.baseurl }}/images/icons/app-white.png" alt="">
      </div>
      <div class="step-copy">
        <h4>You fill out the simple application</h4>
        <p>It's free to apply. Just answer some questions about your technology.</p>
        <p class="note">Applications open June 23-July 13</p>
        <p class="note"><a href="https://codeforamerica.slideroom.com/#/permalink/program/25604/jRmWKgzhzX" target="_blank">Apply now</a></p>

      </div>
    </div>
    <div class="[ grid-item width-one-third ] [ step step-2 ]">
      <div class="step-header">
        <img src="{{ site.baseurl }}/images/icons/chat-white.png" alt="">
      </div>
      <div class="step-copy">
        <h4>Our judges review the candidates</h4>
        <p>Our panel of expert judges will review entries and select the best of the best.</p>
        <p class="note"><a href="#judges">Meet the judges</a></p>
        <p class="note"><a href="#selection">See the selection criteria</a></p>
      </div>
    </div>
    <div class="[ grid-item width-one-third ] [ step step-3 ]">
      <div class="step-header">
        <img src="{{ site.baseurl }}/images/icons/award-white.png" alt="">
      </div>
      <div class="step-copy">
        <h4>The winners are announced at the Summit</h4>
        <p>We'll announce the winners to an audience of influential government decisionmakers and technologists.</p>
        <p class="note"><a href="https://www.codeforamerica.org/summit/" target="_blank">Learn more</a></p>
      </div>
    </div>

  </div>
</section>

<!-- Section: Why You Should Apply -->
<section class="section-slab">
  <div class="grid-box">
    <div class="grid-item width-whole">
      <h1>Why you should apply</h1>
		<p>Code for America unites leaders from hundreds of governments across the U.S. as well as civic-minded technologists, designers, community organizers, and entrepreneurs.</p>
    </div>
    <div class="grid-item width-one-half">
      <h4>Recognition</h4>
      <p>Winners receive national recognition on the main stage of the Code for America Summit and a unique opportunity to showcase their technology in front of prospective users and influencers.</p>
    </div>
    <div class="grid-item width-one-half end-row">
      <h4>Endorsement</h4>
      <p>Winners can showcase their award and Code for America's endorsement in website and marketing materials. Additionally, winners will be recognized on the Code for America website.</p>
    </div>
    <div class="grid-item width-one-half">
      <h4>Networking</h4>
      <p>Winners will receive three tickets to attend the 2015 Code for America Summit for three days of hands-on working sessions, discussion, and networking with over a thousand government technology leaders and decisionmakers.</p>
    </div>
    <div class="grid-item width-one-half">
      <h4>Training</h4>
      <p>Winners are invited to an afternoon at Google Campus where they will have the opportunity to partake in mentor sessions with Googlers and hear from speakers on topics relevant to government technology. 
	  </p>
    </div>
  </div>
</section>

<section class="section-slab section-apply">
	<div class="grid-box">
		<div class="grid-item width-one-whole grid-item-isolate words-center">
			<h1>Ready to start your application?</h1>
            <a href="https://codeforamerica.slideroom.com/#/permalink/program/25604/jRmWKgzhzX" target="_blank" class="button">Apply now</a>
			</br>
          <a href="http://www.eventbrite.com/e/cfa-technology-awards-online-question-and-answer-session-tickets-17402564539?aff=CfASite" target="_blank">Have questions? Register for the online Q&amp;A June 1</a>
		
		</div>
	</div>
</section>

<!-- Section: Selection Criteria -->
<section class="section-slab">
  <div class="grid-box">
    <div class="grid-item width-whole">
      <h1>Selection criteria</h1>
      <p>The Technology Awards will go to companies, government entities, civic technologists, and others that are building or implementing software for the public sector in the United States. The software does not need to have been created in 2015. To be eligible for an award, the software must be:</p>
      <article>
        <ol>
          <li>Currently used by at least one U.S.-based government agency</li>
          <li>Available for other government agencies to use. For example, it could be available through well-documented open source code or available for purchase through a vendor.</li>
          <li>At least one team member or representative must be available to attend the Code for America Summit and accept the award.</li>
        </ol>
      </article>

      <p>Applicants will be selected based on their alignment with Code for America's <a href = "http://codeforamerica.org/governments/principles/government-technology/">Government Technology Principles</a>. Some principles will be more relevant for certain technology than others, but in general we will be looking for technology that is designed for and with people, delivers a significant improvement in pricing and value, enables data-driven government, uses and promotes open standards, and/or leverages existing technology.</p>
    </div>
  </div>
</section>


<!-- Section: Judges -->
<section class="section-slab" id="judges">
  <div class="grid-box">
    <div class="grid-item width-whole">
      <h1>Meet the judges</h1>
    </div>
    {% assign judges = (site.judges | sort: 'last_name') %}
    {% for judge in judges %}
    <div class="grid-item width-one-third judge-box {% cycle '','','end-row' %}">
      <img class="judge-box-headshot" src="
      {% if judge.placeholder_picture %}
      {{ site.baseurl }}/images/judges/placeholder.jpg
      {% else %}
      {{ site.baseurl }}/images/judges/{{ judge.first_name | downcase | replace: '.','' | replace: ' ','-' }}-{{ judge.last_name | downcase | replace: '.','' | replace: ' ','-' }}.jpg
      {% endif %}
      " alt="{{ judge.name }}">
      <h4>{{ judge.first_name }} {{ judge.last_name }}</h4>
      <p>{{ judge.title }}, {{ judge.organization }}</p>
      <p>{{ judge.short_bio }}</p>
      <p><a href="{{ site.baseurl }}{{ judge.url }}">Read more</a></p>
    </div>
    {% endfor %}
  </div>
</section>
