<footer class="section-slab section-slab-grey section-footer" id="partners">
  {% unless page.footer_partner == false %}
  <div class="grid-box">
    <div class="grid-item grid-item-isolate width-whole">
      <p>The Technology Awards are presented in partnership with <a href="https://www.googleforentrepreneurs.com/" target="_blank">Google for Entrepreneurs</a>.</p>
    </div>
    <div class="grid-item width-one-third">
      <img src="{{ site.baseurl }}/images/logo-google.png" alt="">
    </div>
  </div>
  {% endunless %}
  <div class="grid-box">
    <div class="grid-item grid-item-isolate width-whole">
      <p>Technology Awards name and logo copyright &copy; 2015 <a href="https://www.codeforamerica.org/">Code for America</a>. Questions? Reach out to us at <a href="mailto:awards@codeforamerica.org">awards@codeforamerica.org</a>.</p>
    </div>
  </div>
  {% if page.footer_markup %}
    {{ page.footer_markup }}
  {% endif %}
</footer>
