.header {
  @include media($tablet-up) {
    padding-top: 2em;
  }
}

// Logo area
.header-logo {
  display: inline-block;
  img {
    width: 200px;
    @include media($tablet-up) { width: 300px; }
    height: auto;
  }
  .logo-large { display: none; }
  @include media($tablet-up) {
    .logo-large { display: inherit; }
    .logo-small { display: none; }
  }
}

// Nav
.header .nav-item {
  a {
    text-decoration: none;
    border-bottom: 3px solid $color-red;
    &:hover { border-bottom-color: black; }
    @include media($tablet-up) {
      text-transform: uppercase;
      border-bottom: 3px solid $color-yellow;
      &:hover { border-bottom-color: white; }
    }
  }

  display: inline-block;
  margin-top: 1.5em;
}

.nav-item + .nav-item {
  margin-left: 0.5em;
}