.header {
  @include media($tablet-up) {
    padding-top: 2em;
  }
}

.header-logo {
  display: inline-block;
  width: 200px;
  @include media($tablet-up) {
    width: 300px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .logo-large { display: none; }
  @include media($tablet-up) {
    .logo-large { display: inherit; }
    .logo-small { display: none; }
  }
}