.header {
  @include media($tablet-up) {
    padding-top: 2em;
  }
  padding-top: 2em;
}

.header.header-reverse {
  padding-top: 0;
}

// Logo area
.header-logo {
  display: inline-block;
  img {
    width: 150px;
    @include media($tablet-up) { width: 200px; }
    height: auto;
  }
  .logo-large { display: none; }
  @include media($tablet-up) {
    .logo-large { display: inherit; }
    .logo-small { display: none; }
  }
}

// Nav
.header .nav-item {
  a {
    text-decoration: none;
    border-bottom: 3px solid $color-red;
    &:hover { border-bottom-color: black; }
    @include media($tablet-up) {
      text-transform: uppercase;
    }
  }
  margin-top: 1em;
  display: inline-block;
}

.header.header-reverse .nav-item {
  a {
    @include media($tablet-up) {
      border-bottom: 3px solid $color-yellow;
      &:hover { border-bottom-color: white; }
    }
  }
}

.nav-item {
  margin-right: 0.5em;
  &:last-of-type {
    margin-right: 0;
  }
}
