<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Technology Awards - Code for America</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <!-- Webfonts: Cloud.typography pack "Companies Awards" -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/787988/css/fonts.css" />
    <!-- Global metadata -->
    {% include global-metadata.html %}
    <!-- IE shims -->
    <!-- ... -->
  </head>
  <body>
    <div class="page-content">
      {{ content }}
    </div>
  </body>
  <!-- Google analytics tracking code -->
  <!-- ... -->
  <!-- Scripts -->
  <!-- ... -->
</html>